In [1]:
import pandas as pd
import numpy as np

In [2]:
t = [[1,np.nan,2],[np.nan,3,np.nan],[np.nan,4,5],[np.nan,np.nan,np.nan]]

In [3]:
t

[[1, nan, 2], [nan, 3, nan], [nan, 4, 5], [nan, nan, nan]]

In [4]:
df = pd.DataFrame(t)

In [5]:
df

     0    1    2
0  1.0  NaN  2.0
1  NaN  3.0  NaN
2  NaN  4.0  5.0
3  NaN  NaN  NaN

In [6]:
df.bfill(axis=1).iloc[:, 0]

0    1.0
1    3.0
2    4.0
3    NaN
Name: 0, dtype: float64